

  .textfield .MuiFormLabel-root {
    color: #1976d2 !important;
  }
  .jan{
    color:white !important;
  }
 
  .textfield{
    border-bottom:1px solid white !important;
  }
  .textfield:focus{
    border-bottom:2px solid#1976d2 !important;
  }
  .textfield , Select{
    color:white !important;
  }
  .submit{
      background-color: #fff;
      color:black;
      width:100%;
}
.income{
    background-color:white;
    color:black;
    margin-top:50px !important;
    margin-bottom:50px !important;
    border-radius: 10px;
    text-align:center !important;
}
.expense{
  background-color: red;
  color:white;
  margin-top:50px !important;
  margin-bottom:50px !important;
  border-radius: 10px;
}
h3{
    text-align:center;
}

.link{
  text-decoration: none;
  color:white;
}
.history{
  margin-top:80px !important;
}
.historyhead{
  width:1140px;
  margin:auto;
  color:white  !important
}
.historyheadhome{
  color:white !important;
}
.css-cnd76u-MuiPaper-root {
  color:black !important;
  font-weight: 600 !important;
}
.fu{
  margin-bottom:60px;
}
input,.textfield svg{
  color:white !important;
}
.select{
  min-width: 100% !important;
  margin:0px !important;
}
#myList li{
  list-style-type: none !important;
}
.incomeHis  {
  background-color: green !important;
}
.expenseHis  {
  background-color: red !important;
}
.delete{
  color:black !important;
}
.delete:hover{
  color:red !important;
}
.submit{
  background-color:green !important;
  font-weight: 600 !important;
}
.submitex{
  background-color:red !important;
  width:100% !important;
  font-weight: 600 !important;
}
.theadrow{
  font-size:16px !important;
  font-weight:600 !important;
}

.expenseHis{
background-color:red !important;
}
.incomehishead{
  margin-bottom:30px !important;
  margin-top:30px !important;
  color:green;
}
.expensehishead{
  margin-bottom:30px !important;
  margin-top:30px !important;
  color:red;
}
.clearHis{
  margin-top:35px !important;
  font-weight: 600 !important;
}
.income-expense{
  width:100% !important;
}
.css-tn5ix5-MuiGrid-root {
  width: 100% !important;
}

/* //  media Query  // */
@media(max-width:768px){
  .income-expense{
    width:100% !important;
  }
 .grid{
   width:100% !important;
 }
}
@media(max-width:560px){
  .css-d7jkuz-MuiTable-root {
    min-width:360px !important;
}
.income-expense{
  width:100% !important;
}
.appHeading{
  font-size:22px !important;
}
h1{
  font-size:18px !important;
}
}
@media(max-width:375px){
  h1{
    font-size:18px !important;
  }
  .css-d7jkuz-MuiTable-root {
    min-width:300px !important;
  }
  .appHeading{
    font-size:20px !important;
  }
    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      font-size:12px !important;
    
}
@media (max-width: 320px){}
.appHeading {
    font-size: 17px !important;
}
}
